:root{
  --primary: #369C38;
  --secondary: #132A13;
  --padding: 15px;
  --gray: #406040;
  --light-gray: #DEDEDE;
}
* {
  font-family: 'Roboto', sans-serif;
  margin-block-start:0px;
  margin-block-end:0px;
  margin-inline-start:0px;
  margin-inline-end:0px;
}

.container{
  max-width: 400px;
  padding: 30px;
  margin: 0 auto;
}